.d-pad {
  width: 237px;
  height: 102px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.d {
  width: 79px;
  height: 34px;
  position: absolute;
}

.center {
  left: 79px;
  top: 34px;
  border-radius: 0 0 0 0;
  padding: 6px 12px;
  border-color: #CCC;
  text-align: center;
}

.up {
  left: 79px;
  top: 0;
  border-radius: .25em .25em 0 0;
}
.up .label {
  top: -3em;
}

.right {
  top: 34px;
  right: 0;
  border-radius: 0 .25em .25em 0;
}
.right .label {
  top: -1em;
  right: -2em;
}

.down {
  left: 79px;
  bottom: 0;
  border-radius: 0 0 .25em .25em;
}
.down .label {
  bottom: -1em;
}

.left {
  top: 34px;
  left: 0;
  border-radius: .25em 0 0 .25em;
}
.left .label {
  top: -1em;
  left: -2em;
}
