  <!-- Modal -->
  <div class="modal fade" id="distanceModal" tabindex="-1" role="dialog" aria-labelledby="distanceModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="distanceModalLabel">Distance</h4>
        </div>
        <div class="modal-body">
          {{currentCommand.command}}
          <input type="number" class="form-control" ng-model="distance">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="confirmDistance()">Add command</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Video stream and instructions -->
  <div class="row">
    <div class="col-md-8">
      <img src="{{cameraStream}}" width="600" height="400">
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <span class="list-group-item active">
          Instructions
        </span>
        <span class="list-group-item disabled" ng-show="commandList.length == 0">
          A list of instructions to send to the rover
        </span>
        <span class="list-group-item" ng-repeat="instruction in commandList">
          <span class="badge">{{instruction.distance}}</span>
          {{instruction.command}}
        </span>
      </div>
      <button class="btn btn-default btn-block" type="submit" ng-click="sendCommands()">Send</button>
    </div>
  </div>

  <!-- Buttons -->
  <div class="row">
    <div class="d-pad">
      <button class="btn btn-default d up" ng-click="forward(2)">Forward</button>
      <button class="btn btn-default d right" ng-click="right(2)">Right</button>
      <button class="btn btn-default d down" ng-click="back(2)">Back</button>
      <button class="btn btn-default d left" ng-click="left(2)">Left</button>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="tilt(10)">Tilt Up</button>
    <button class="btn btn-default" ng-click="pan(-10)">Pan Left</button>
    <button cass="btn btn-default" ng-click="tilt(-10)">Tilt Down</button>
    <button cslass="btn btn-default" ng-click="pan(10)">Pan Right</button>
  </div>
